<!DOCTYPE html>
<html>
<head>
  <title>Slide Navbar</title>
  <link rel="stylesheet" type="text/css" href="resetpassword.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class ='userlisting'>
  <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>name</td>
      <td>contact name</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>name</td>
      <td>contact name</td>
      <td>UK</td>
    </tr>
  </table>
 </div>

  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="edit">
      <form>
        <label for="chk" aria-hidden="true">Edit User</label>
        <button>Submit</button>
      </form>
    </div>
    <div class="add">
      <form>
        <label for="chk" aria-hidden="true">Add User</label>
        <button>Submit</button>
      </form>
    </div>

  </div>
</body>
</html>
